<div class="row header">
    <div class="col-xs-2 header-button left cursor-pointer" ng-click="vm.cancel()">Cancel</div>
    <div class="col-xs-8 header-title"><strong>{{vm.title}}</strong></div>
    <div class="col-xs-2 header-button right cursor-pointer" ng-click="vm.save(vm.alarm)"><strong>Save</strong></i></div>
</div>
<div class="row">
    <div class="form-group">
        <label for="hours">Hours</label>
        <input type="number" class="form-control" id="hours" ng-model="vm.alarm.hours">
    </div>
    <div class="form-group">
        <label for="minutes">Minutes</label>
        <input type="minutes" class="form-control" id="hours" ng-model="vm.alarm.minutes">
    </div>
</div>
<div class="row">
    <div class="col-xs-9">Label</div>
    <div class="col-xs-3">{{vm.alarm.label}}</div>
</div>